
.admin-th, .admin-td {
    font-size: 10px;
    padding: 4px 2px 4px 2px;
}

.admin-td {
    line-height: 20px;
}

.btn-admin {
    font-size: 10px;
    border: none;
    background-color: transparent;
    background-color: #FC5759;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 4px 2px 4px 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-add {
    border-radius: 40px;
    font-size: 10px;
}
