body {
}

.search-container1 {
    align-items:center;
    margin: auto;
}

.head-div, .div-h3 {
    margin-bottom: 10px;
}

.div-h3 {
    font-size:16px;
    font-weight: 400;
    font-family: Arial;
}

.FoodForYou {
    font-family: DancingScript-Regular;
    font-weight: 700;
    font-style: normal;
}

.EatHealthy {
    font-family: RalewayDots-Regular;
    font-weight: 700;
    font-style: normal;
}


.card-header b {
    font-family: RalewayDots-Regular;
    font-weight: 700;
    font-style: normal;
}





