.tips {
    margin-left: 300px;
  
    width: 980px;
}

.red {
    color: red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 0.5px solid grey;
}
