<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="savefood" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SaveFood;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>