<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="savefood" connectionString="Data Source=ASUS;Initial Catalog=savefood;User ID=sa;Password=test123@@;MultipleActiveResultSets=False;Connect Timeout=30;" providerName="System.Data.SqlClient"/>-->
    <add name="savefood" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SaveFood;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient"/>
    <!--<add name="savefood" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=savefood;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>